/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(31, 28, 28);
}
body h1 {
  color: #282f59;
}
body p {
  color: #7c7c7c;
}
body a {
  text-decoration: none;
  color: whitesmoke;
}
/* gradiant colors */
:root {
  --gradient-1: linear-gradient(to bottom right, rgb(107, 107, 255), blue);

  --gradient-2: linear-gradient(
    to bottom right,
    rgb(80, 80, 255),
    rgb(253, 119, 119)
  );

  --gradient-3: linear-gradient(
    to bottom right,
    rgb(255, 207, 145),
    rgb(255, 111, 92)
  );

  --gradient-4: linear-gradient(to bottom right, #2af598, #009efd);
}
/* header */
header {
  background-image: url("./header-bg.png");
  background-repeat: no-repeat;
  min-height: 100vh;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 10px 20px;
  align-items: center;
}
.navbar ul {
  flex: 1;
  text-align: right;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 25px;
}

.logo {
  width: 180px;
}
.ctn {
  padding: 10px 20px;
  background: linear-gradient(
    to bottom right,
    rgb(255, 207, 145),
    rgb(255, 111, 92)
  );
  border-radius: 50px;
}
.ctn:hover {
  background: linear-gradient(
    to bottom right,
    rgb(255, 111, 92),
    rgb(255, 207, 145)
  );
}
.row {
  display: flex;
  align-items: center;
  padding: 4rem;
}
.header-content,
.hero-img {
  flex-basis: 50%;
  padding: 3rem;
}
.header-content h1 {
  font-size: 7vmin;
  margin-bottom: 30px;
  margin-top: 9rem;
  color: #c5ff25;
}
.header-content p {
  margin-bottom: 10px;
}
.learnmore {
  padding: 10px 20px;
  border: 1px solid tomato;
  border-radius: 50px;
  color: tomato;
  margin-right: 30px;
}
.learnmore:hover {
  background: var(--gradient-3);
  border: none;
  color: whitesmoke;
}
.hero-img img {
  margin-left: 80px;
}
@media (max-width: 600px) {
  .navbar ul li {
    margin: 0 3px;
  }
  .navbar ul li a {
    font-size: 0.7rem;
  }
  .logo {
    width: 80px;
  }
  .row {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
  }
  .header-content,
  .hero-img {
    flex-basis: 100%;
    width: 100vw;
    padding: 1rem 2rem;
  }
  .header-content {
    content: "";
    margin-top: 1rem;
    z-index: 10;
    color: rgb(255, 255, 255);
  }
  .header-content p {
    margin-bottom: 2rem;
  }
  .hero-img img {
    width: 250px;
    height: 250px;
    text-align: center;
  }
}
@media (max-width: 477px) {
  .navbar ul li {
    margin: 0 2px;
  }
  .navbar ul li a {
    font-size: 0.5rem;
  }
  .logo {
    width: 60px;
  }
}
@media (max-width: 477px) {
  .navbar ul li {
    margin: 0 1px;
  }
  .navbar ul li a {
    font-size: 0.5rem;
  }
  .logo {
    width: 40px;
  }
  .btn {
    display: block;
    width: fit-content;
    margin: 10px 0;
  }
  .hero-img img {
    width: 200px;
    height: 200px;
  }
  .hero-img {
    padding: 0rem 0rem;
    margin-right: 4rem;
    display: flex;
    justify-content: center;
  }
}
